---
import { Icon } from "@astrojs/starlight/components";
---

<a
  href="https://github.com/Golf-Drill-Challenge-App/Golf-App/issues"
  rel="me"
  class="sl-flex"
  target="blank"
>
  <Icon name="seti:info" />
</a>

<style>
  a {
    color: var(--sl-color-text-accent);
    padding: 0.5em;
    margin: -0.5em;
  }
  a:hover {
    opacity: 0.66;
  }
</style>
